* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.afterLogoutContainer {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >p:first-child {
        margin-top: 4rem;
        font-size: 1.1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    >p:last-child {
        margin: 1rem auto;
        font-style: italic;
    }
}