* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.afterLogoutContainer {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    h2 {
        font-style: italic;
    }
}